<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personel_details</title>
</head>
<body>
<form action="http://localhost:5000/personel_details_action" method="post">
<p>first_name</p>
<p><input type="text" name="first_name"></p>
<p>last_name</p>
<p><input type="text" name="last_name"></p>
<p>position</p>
<p><input type="text" name="position"></p>
<p>phone_number</p>
<p><input type="text" name="phone_number"></p>
<p>Alternate_phone_number</p>
<p><input type="text" name="alternate_phone"></p>
<p>whatsapp_number</p>
<p><input type="text" name="whatsapp"></p>
<p>Address</p>
<p><input type="text" name="address"></p>
<p>Map_coordinate</p>
<p><input type="text" name="map_coordinate"></p>
<p>email</p>
<p><input type="text" name="email"></p>
<p>website</p>
<p><input type="text" name="website"></p>
<p>company_est_date</p>
<p><input type="text" name="company_est_date"></p>
<p>About</p>
<p><input type="text" name="about"></p>
<p><input type="submit" value="submit"></p>
</form>
</body>
</html>