
<!DOCTYPE html>
<html lang="en" >
    <head>
      <meta charset="UTF-8">
      <title>Login form</title>
      <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
    
    </head>
    <body>
    <!-- partial:index.partial.html -->
    <div class="login-wrap">
      <div class="middle">
        <div class="inner">
      <h2>Login</h2>
      
      <form class="form" action="http://127.0.0.1:5000/login_action" method="POST">
        <input type="text" placeholder="unique_id" name="unique_id" />
	    <input type="text" placeholder="Name" name="name" />
        <input type="password" placeholder="Password" name="password" />
        <button type="submit" name="submit"> Sign in </button>
        <a href="{{url_for('register')}}"> <p class="redirect"> Don't have an account? Register </p></a>
      </form>
    </div></div></div>
    <!-- partial -->
      <script src='https://code.jquery.com/jquery-1.10.0.min.js'></script><script  src="./script.js"></script>
    
    </body>
    </html>
    