<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>persons_data</title>
</head>
<body>
<form action="http://127.0.0.1:5000/persons_data" method="POST">
    <table style="
  border: 1px solid black;">
        <tr style="
  border: 1px solid black;">
        <td style="
  border: 1px solid black;">unique_id</td>
        <td style="
  border: 1px solid black;">first_name</td>
        <td style="
  border: 1px solid black;">last_name</td>
        <td style="
  border: 1px solid black;">designation</td>
        <td style="
  border: 1px solid black;">email_id</td>
        <td style="
  border: 1px solid black;">address</td>
        <td style="
  border: 1px solid black;">est_date</td>
        <td style="
  border: 1px solid black;">website</td>
        <td style="
  border: 1px solid black;">About</td>
        <td style="
  border: 1px solid black;">phone</td>
        <td style="
  border: 1px solid black;">Alt_phone</td>
        <td style="
  border: 1px solid black;">whatsapp</td>
        <td style="
  border: 1px solid black;"> latitude</td>
        <td style="
  border: 1px solid black;">longitude</td>
    </tr>
    <tr style="
  border: 1px solid black;">
    	<td style="
  border: 1px solid black;">{{unique_id}}</td>
        <td style="
  border: 1px solid black;">{{first_name}}</td>
        <td style="
  border: 1px solid black;">{{last_name}}</td>
        <td style="
  border: 1px solid black;">{{designation}}</td>
        <td style="
  border: 1px solid black;">{{email_id}}</td>
        <td style="
  border: 1px solid black;">{{address}}</td>
        <td style="
  border: 1px solid black;">{{est_date}}</td>
        <td style="
  border: 1px solid black;">{{website}}</td>
        <td style="
  border: 1px solid black;">{{About}}</td>
        <td style="
  border: 1px solid black;">{{phone}}</td>
        <td style="
  border: 1px solid black;">{{Alt_phone}}</td>
        <td style="
  border: 1px solid black;">{{whatsapp}}</td>
        <td style="
  border: 1px solid black;">{{latitude}}</td>
        <td style="
  border: 1px solid black;">{{longitude}}</td>
    </tr>
    </table>
</form>
</body>
</html>