<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Select Theme</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{url_for('static',filename='navbar.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='container.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='steps.css')}}">

</head>

<body>

<div class="sidebar">
  <!-- sidebartop -->
  <div class="sidebar__top">
    <div class="top">
      <h2>Dashboard</h2>
      <div class="humburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
  </div>
  <!--sidebar navigation -->
  <div class="sidebar__nav">
    <h5>Navigation</h5>
    <ul class="sidebar__menu">
      <li class="sidebar__menu--item">
	    <i class="material-icons">style</i>
		<span>My cards</span>
      </li>
      <li class="sidebar__menu--item">
        <i class="material-icons">payments</i>
		<span>My Transactions</span>
      </li>
      <li class="sidebar__menu--item">
        <i class="material-icons">account_circle</i>
		<span>Edit Profile</span>
      </li>
      <li class="sidebar__menu--item">
        <i class="material-icons">lock</i>
		<span>Change Password</span>
      </li>
      <li class="sidebar__menu--item">
        <i class="material-icons">logout</i>
        <span>Logout</span>
      </li>

    </ul>
  </div>

</div>
<div class="outer_box">
<div id="stepcontainer" class="stepcontainer">
<ul class="steps">
  <li class="step step--incomplete step--active">
    <div class="step-progress incomplete"></div>
    <span class="step__icon"></span>
    <span class="step__label">Select Theme</span>
  </li>
  <li class="step step--incomplete step--inactive">
    <div class="step-progress incomplete"></div>
    <span class="step__icon"></span>
    <span class="step__label">Personal Details</span>
  </li>
  <li class="step step--incomplete step--inactive">
    <div class="step-progress incomplete"></div>
    <span class="step__icon"></span>
    <span class="step__label">Social Links</span>
  </li>
  <li class="step step--incomplete step--inactive">
    <div class="step-progress incomplete"></div>
    <span class="step__icon"></span>
    <span class="step__label">Payment</span>
  </li>
  <li class="step step--incomplete step--inactive">
     <div class="step-progress incomplete"></div>
    <span class="step__icon"></span>
    <span class="step__label">Services</span>
  </li>
  <li class="step step--incomplete step--inactive">
    <div class="step-progress incomplete"></div>
    <span class="step__icon"></span>
    <span class="step__label">Gallery</span>
  </li>
  <li class="step step--incomplete step--inactive">
    <span class="step__icon"></span>
    <span class="step__label">Preview</span>
  </li>  
</ul>
</div>
<div class="container">
   
  <form>
    <div class="row">
	  <div class="input-group">
		<h6>Select Theme</h6>
      </div>
	  
	  <div class="col-onefifth">
		<div class="scontain">
			<div class="mockup">
				<div class="input-group input-group-icon">
                <div class="input-icon"><img src="{{url_for('static',filename='res/mockup.jpg')}}" class="mock-up"></div>
                </div>
			</div>
        </div>
	  </div>
	  	  <div class="col-onefifth">
		<div class="scontain">
			<div class="mockup">
				<div class="input-group input-group-icon">
                <div class="input-icon"><img src="{{url_for('static',filename='res/mockup.jpg')}}" class="mock-up"></div>
                </div>
			</div>
        </div>
	  </div>
	  	  <div class="col-onefifth">
		<div class="scontain">
			<div class="mockup">
				<div class="input-group input-group-icon">
                <div class="input-icon"><img src="{{url_for('static',filename='res/mockup.jpg')}}" class="mock-up"></div>
                </div>
			</div>
        </div>
	  </div>

	  
	  
	  
    </div>
    <div class="row">
	  
	  <div class="col-onefifth">
		<div class="scontain">
			<div class="mockup">
				<div class="input-group input-group-icon">
                <div class="input-icon"><img src="{{url_for('static',filename='res/mockup.jpg')}}" class="mock-up"></div>
                </div>
			</div>
        </div>
	  </div>
	  	  <div class="col-onefifth">
		<div class="scontain">
			<div class="mockup">
				<div class="input-group input-group-icon">
                <div class="input-icon"><img src="{{url_for('static',filename='res/mockup.jpg')}}" class="mock-up"></div>
                </div>
			</div>
        </div>
	  </div>
	</div>
	<button type="submit" class="submit">Submit & next</button>
  </form>
</div>
</div>

<!-- partial -->
    <script  src="{{url_for('static',filename='script.js')}}"></script>
  <script  src="{{url_for('static',filename='script2.js')}}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


</body>
</html>
